---
layout: base.njk
title: "Page not found"
permalink: "/404.html"
---
<div class="wrap sec notfound">
  <h1>This page does not exist.</h1>
  <p>The link may be old or mistyped. Go to the <a href="/">home page</a>, browse <a href="/articles/">all articles</a> or <a href="/search/">search</a>.</p>
</div>
